html {
    height: 100%;
    position: center;
}

.imagen{
  max-width: 200px;
  max-height: auto;
 margin: 50px auto 20px;
}
img {
  margin: 0 auto;
  max-width:100%;
  height: auto;
}

body {
    height: 100%;
    background:linear-gradient(to top,#d7d7d7,#f7f7f7);

}

.log{
	display:block;
	background-color: #fff;
	max-width: 430px;
    margin: 20px auto 20px;
    border-radius: 8px;
    text-align: center;
}
.log form {
    padding: 60px 70px 40px;
}
h3{
	color: #ccc;
	font-family: benton-sans, 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 24px;
	font-weight: 200;
	height: 26px;
	line-height: 26.4px;
}
.form-user{
	position: relative;
    margin-bottom: 20px;
}
.form-pass{
	position: relative;
    margin-bottom: 20px;
}
.form-control{
	padding-right: 8px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    width: 92%;
}
.button{
    background:linear-gradient(to top,#d7d7d7,#f7f7f7);
    padding-right: 8px;
	  padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    width: 100%;
}
.button:hover{
    outline:0px;
    background: #d7d7d7;
    transition-property: background;
    transition-duration: 0.5s;
}
input:focus{
	outline:0px;
	border-color: blue;
	box-shadow: 0 0 1px black;;
  transition-property: border-color;
  transition-duration: 1s;
}

.social{
  margin: 40px auto 2px;
}

.icons{
  width: 48px;
  height: 48px;
  display:inline-block;
  margin-right: 20px;
}
.facebook{
  background-image: url("facebook.svg");
}
.twitter{
  background-image: url("twitter.svg");
}
.google{
  background-image: url("google.svg");
}
