extends layout

block content
  h1= title
  p Welcome to #{title}
  if(user)
    ul
      li
        img(src="#{user.photo}")
      li Bienvenido #{user.name}
      li
        a(href='logout') Salir
  else
    div#contact-area
      form(method='post')
          label(for='email') email:
            input(type='email',name='user',id='user')        
          label(for='password') password:
            input(type='password',name='password',id='password')  
            input(type='submit',name='submit',value='Submit').submit-button
      ul
        li
          a(href='auth/twitter') Login con Twitter
        li
          a(href='auth/facebook') Login con Facebook
