extends layout

block content
  if(user)
    ul
      li
        img(src="#{user.photo}")
      li Bienvenido #{user.name}
      li
        a(href='logout') Salir
  else
    .imagen
      picture
        img(src='/svg/amic.svg')
    .log
      form(action='', method='post')
        .form-user
          label(for='email')
          input.form-control(type='Email', placeholder='Email')
        .form-pass
          label(for='password')
          input.form-control(type='Password', placeholder='Password')
        button.button login
        .social
          a.icons.facebook(href='auth/facebook')
          a.icons.twitter(href='auth/twitter')
          a.icons.google(href='auth/twitter')
